.wrapper {
    position: relative;
}

.tooltip {
    position: absolute;
    right: 0;
    top: calc(100% + 12px);
    z-index: 10;
    min-width: 280px;

    &:after {
        content: "";
        position: absolute;
        bottom: 100%;
        right: 40px;
        border: solid transparent;
        height: 0;
        width: 0;
        pointer-events: none;
        border-bottom-color: rgba(230, 30, 87, 0.09);
        border-width: 8px;
    }
}
