NEXT_PUBLIC_APP_ENV=development|production
# from wallet connect v2 you need walletconnect project ID that can be created https://cloud.walletconnect.com/app
WALLETCONNECT_PROJECT_ID=id_created_in_cloud
API_URL=https://fasset-coston2.matheo.si/api/
APP_URL=http://localhost:3000/

# Set to testnet if deploying on coston or mainnet if deploying on songbird
NETWORK=mainnet|testnet
MAINNET_CHAIN=SGB|FLR
TESTNET_CHAIN=C2FLR|CFLR

INCENTIVES_MODAL=true|false

# Underlying assets that can be minted/redeemed
# mainnet=FXRP testnet=FTestXRP
ENABLED_UNDERLYING_FASSETS=FXRP

INCENTIVES_MODAL=true/false
ENABLED_WALLETS=WalletConnect
#Random string
XPUB_SECRET=somerandomstring

#Address of fasset contract for xrp
FREE_CPT_XRP_CONTRACT_ADDRESS=

#Terms of service url to be included in the app
TERMS_OF_SERVICE_URL=

#Front url for asset prefix, it should be the whole url, optional
#FRONT_URL=
#Same as FRONT_URL, it should ne the whole url.
#FRONTEND_URL=

#Wind down date should be YYYY-MM-DD
WIND_DOWN_DATE=
WIND_DOWN_BLOG_URL=

FLR_URL=
SGB_URL=
CFLR_URL=
C2FLR_URL=

XAMAN_API_KEY=

# bridge
BRIDGE_FXRP_ADDRESS=0x0b6A3645c240605887a5532109323A3E12273dc7
BRIDGE_FXRP_OFT_ADAPTER_ADDRESS=0xCd3d2127935Ae82Af54Fc31cCD9D3440dbF46639
BRIDGE_HYPE_FXRP_OFT_ADAPTER_ADDRESS=0x14bfb521e318fc3d5e92A8462C65079BC7d4284c
HYPERLIQUID_COMPOSER_ADDRESS=0x51fEFdD6Df806062634c253F605A270AF4Ab62Db
FXRP_COMPOSER_ADDRESS=0xa10569DFb38FE7Be211aCe4E4A566Cea387023b0 
MINTING_TAG_MANAGER_ADDRESS=0x094511737909b626391106bBc21B25feb2D67B96

