#Project name for docker compose
COMPOSE_PROJECT_NAME=user-minting-ui
#Frontend exposed port in compose
FRONT_PORT=3000
# from wallet connect v2 you need walletconnect project ID that can be created https://cloud.walletconnect.com/app
WALLETCONNECT_PROJECT_ID=id_created_in_cloud
# Backend url, should include /api prefix, for example https://backend/api
API_URL=
# Domain where the frontend app will be available, needed for wallet connect
APP_URL=

# Set to testnet if deploying on coston or mainnet if deploying on songbird
NETWORK=mainnet|testnet
MAINNET_CHAIN=SGB|FLR
TESTNET_CHAIN=C2FLR|CFLR

INCENTIVES_MODAL=true|false

# Underlying assets that can be minted/redeemed
# mainnet=FXRP testnet=FTestXRP
ENABLED_UNDERLYING_FASSETS=FXRP

INCENTIVES_MODAL=true/false
ENABLED_WALLETS=WalletConnect
#Random string
XPUB_SECRET=somerandomstring

#Address of fasset contract for xrp
FREE_CPT_XRP_CONTRACT_ADDRESS=

#Terms of service url to be included in the app
TERMS_OF_SERVICE_URL=

#Front url for asset prefix, it should be the whole url, optional
#FRONT_URL=
#Same as FRONT_URL, it should ne the whole url.
#FRONTEND_URL=

#Wind down date should be YYYY-MM-DD
WIND_DOWN_DATE=
WIND_DOWN_BLOG_URL=

FLR_URL=
SGB_URL=
CFLR_URL=
C2FLR_URL=

XAMAN_API_KEY=